{% extends 'Base.html' %}
{% load static %}



{% block main-content %}


<main>
   <div class="container">

      <section class="section register min-vh-100 d-flex flex-column align-items-center justify-content-center py-4">
         <div class="container">
            <div class="row justify-content-center">
               <div class="col-lg-4 col-md-6 d-flex flex-column align-items-center justify-content-center">

                  <div class="d-flex justify-content-center py-4">
                     <a href="#" class="logo d-flex align-items-center w-auto">
                        <img src="assets/img/logo.png" alt="">
                        <span class="d-none d-lg-block">WelfareApp</span>
                     </a>
                  </div><!-- End Logo -->

                  <div class="card mb-3 px-4 pb-4">

                     <div class="card-body">

                        <div class="pt-4 pb-2 text">
                           <h5 class="card-title text-center pb-0 fs-4">User Login</h5>
                           <p class="text-center small">Welcome back</p>
                        </div>

                        {% if messages %}
                        {% for message in messages %}
                        <div class="alert text-center alert-danger alert-dismissible fade show" role="alert">
                           <span class="small">{{ message }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <form method="post" class="row g-3 needs-validation">
                           {% csrf_token %}
                           <div class="col-12">
                              <label for="yourUsername" class="form-label">Username</label>
                              <div class="input-group has-validation">
                                 <input type="text" name="username" class="form-control" required>
                              </div>
                           </div>

                           <div class="col-12">
                              <label for="yourPassword" class="form-label">Password</label>
                              <input type="password" name="password" class="form-control" required>
                           </div>

                           <div class="col-12">
                              <button class="btn btn-primary w-100 rounded-pill mt-3" type="submit">Login</button>
                           </div>
                           <div class="col-12">
                              <p class="small mb-0">Don't have account? <a href="{% url 'register_one' %}">Create an
                                    account</a></p>
                           </div>
                        </form>

                     </div>
                  </div>

                  <div class="mt-2">
                     <a href="#">Ask A Query</a>
                     &nbsp;&nbsp;&nbsp;&nbsp;
                     <a href="{% url 'report_issue' %}">Report an Issue</a>
                  </div>

               </div>
            </div>
         </div>

      </section>

   </div>
</main>


{% endblock main-content %}