{% extends 'Base.html' %}
{% load static %}



{% block main-content %}

{% if user.profile_updated_flag %}

<main id="main" class="main">

   <div class="pagetitle">
      <h1>User Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Home</a></li>
            <li class="breadcrumb-item active">User Dashboard</li>
         </ol>
      </nav>
   </div><!-- End Page Title -->

   <section class="section dashboard">
      <div class="row">

         <!-- Right side columns -->
         <div class="col-lg-8">

            <!-- Recent Activity -->
            <div class="card">

               <div class="card-body m-3">
                  <h5 class="card-title">Activities <span>| All</span></h5>
                  <div class="activity pt-3 ">
                     {% for activity in recent_activities %}
                     <div class="activity-item d-flex pb-2 ">
                        <div class="activite-label pb-2">
                           <span class="fw-semibold text-dark">{{ activity.timestamp|date:"d/ m/ Y" }}
                           </span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
                        <i class='bi bi-circle-fill activity-badge align-self-start' style="color: {{ random_bootstrap_color }};"></i>
                        &nbsp;&nbsp;
                        <div class="activity-content">
                           <a class="fw-bold text-dark">{{ activity.description }}</a>
                           &nbsp;&nbsp;{{ activity.timestamp|time:"g:i A" }}
                        </div>
                     </div><!-- End activity item-->
                     {% endfor %}
                  </div>

                  <script>
                     document.addEventListener('DOMContentLoaded', function () {
                        var icons = document.querySelectorAll('.activity-badge');
                        icons.forEach(function (icon) {
                           var colors = ['text-primary', 'text-success', 'text-danger', 'text-warning', 'text-info', ];
                           var randomColor = colors[Math.floor(Math.random() * colors.length)];
                           icon.classList.add(randomColor);
                        });
                     });
                  </script>

               </div>
            </div><!-- End Recent Activity -->

         </div><!-- End Right side columns -->

      </div>
   </section>

</main><!-- End #main -->

{% else %}

<main id="main" class="main">
   <div class="col-md-12 text-center py-5">
      <h3>Your Registration Not Completed</h3>
      please update your profile first.
      <div class="col-12">
         <a href="{% url 'register_two' %}" class="btn btn-primary px-3 rounded-pill mt-3" type="submit">Update Profile
            Details</a>
      </div>
   </div>
</main>

{% endif %}



{% endblock main-content %}