{% extends 'Base.html' %}
{% load static %}


{% block main-content %}
{% if user.is_authenticated and user.is_superuser %}


<main id="main" class="main">

   <div class="pagetitle">
      <h1>Admin Dashboard</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin Dashboard</li>
         </ol>
      </nav>
   </div><!-- End Page Title -->

   <section class="section dashboard">
      <div class="row">

         <!-- Left side columns -->
         <div class="col-lg-8">
            <div class="row">

               <!-- Table 1 -->
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">
                        <h5 class="card-title">Latest Welfares</h5>
                        <p>Recently created welfares are shown below &nbsp;<a href="">View All</a></p>
                        <!-- Bordered Table -->
                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col">Welfare Title</th>
                                 <th scope="col">Post Date</th>
                                 <th scope="col">Last Date</th>
                                 <th scope="col">#</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% if latest_5_post %}
                              {% for item_5 in latest_5_post %}
                              <tr>
                                 <th scope="row">{{item_5.id}}</th>
                                 <td>{{item_5.post_title}}</td>
                                 <td>2016-05-25</td>
                                 <td>2016-05-25</td>
                                 <td>
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i
                                          class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-arrow">
                                       <li><a class="dropdown-item" href="{% url 'post_read' item_5.id %}">View
                                             Details</a></li>
                                       <li><a class="dropdown-item" href="{% url 'post_update' item_5.id %}">Update</a>
                                       </li>
                                       <li><a class="dropdown-item" href="{% url 'post_delete' item_5.id %}">Delete</a>
                                       </li>
                                    </ul>
                                 </td>
                              </tr>
                              {% endfor %}
                              {% endif %}

                           </tbody>
                        </table>
                        <!-- End Bordered Table -->

                     </div>
                  </div>
               </div>
               <!-- End Table 1 -->

            </div>
         </div><!-- End Left side columns -->


         {% if latest_5_user %}

         <!-- Right side columns -->
         <div class="col-lg-4">

            <!-- News & Updates Traffic -->
            <div class="card">


               <div class="card-body pb-0">
                  <h5 class="card-title">Verify User Profile <span></span></h5>

                  <div class="news mb-4">
                     {% for item in latest_5_user %}
                     <div class="post-item clearfix">
                        <a href="{% url 'user_profile_view' item.id %}">
                           {% if item.profile_img %}
                           <img class="img-fluid" src="{{ item.profile_img.url }}" alt="">
                           {% endif %}
                           <h4>{{ item.full_name }}</h4>
                           <p>Aadhar No : {{ item.aadhar_no }} <br>
                              Contact : {{ item.mobile_no }}</p>
                        </a>
                     </div>
                     {% endfor %}
                  </div><!-- End sidebar recent posts-->

               </div>
            </div><!-- End News & Updates -->


         </div><!-- End Right side columns -->

         {% endif %}

      </div>
   </section>

</main><!-- End #main -->




{% endif %}
{% endblock main-content %}