{% extends 'Base.html' %}
{% load static %}



{% block main-content %}
{% if user.is_authenticated and user.is_superuser %}


<main id="main" class="main">

   <div class="pagetitle">
      <h1>All Post</h1>
      <nav>
         <ol class="breadcrumb">
            <li class="breadcrumb-item active">Admin Dashboard</li>
            <li class="breadcrumb-item active">All Post</li>
         </ol>
      </nav>
   </div><!-- End Page Title -->

   <section class="section dashboard">
      <div class="row">

         <!-- Left side columns -->
         <div class="col-lg-12">
            <div class="row">

               <!-- Table 1 -->
               <div class="col-12">
                  <div class="card">
                     <div class="card-body">
                        {% if data %}
                           <h5 class="card-title">All Post</h5>
                           <p>All Outdated Posts shown  below</p>
                        {% else %}
                           <p class="text-center mt-5 mb-4">
                              <small>--- No Posts ---</small>
                           </p>
                        {% endif %}
                        

                        <!-- Alert Message -->

                        {% if messages %}
                        {% for message in messages %}

                        <div id="message" class="alert alert-{{ message.tags }} alert-danger  fade show" role="alert">
                           <span class="small">{{ message }}</span>
                        </div>
                        {% endfor %}
                        {% endif %}

                        <script>
                           setTimeout(function () {
                              var message = document.getElementById('message');
                              if (message) {
                                 message.style.display = 'none';
                              }
                           }, 1500);
                        </script>


                        <!-- Bordered Table -->
                        {% if data %}

                        <table class="table table-bordered">
                           <thead>
                              <tr>
                                 <th scope="col">Id</th>
                                 <th scope="col">Post Date</th>
                                 <th scope="col">Title</th>
                                 <th scope="col">Category</th>
                                 <th scope="col">Start Date</th>
                                 <th scope="col">End Date</th>
                                 <th scope="col">Status</th>
                                 <th scope="col">More</th>
                              </tr>
                           </thead>
                           <tbody>
                              {% for item in data %}
                              <tr>
                                 <td>{{ item.id }}</td>
                                 <td>{{ item.post_create_date | date:"d/m/Y" }}</td>
                                 <td>{{ item.post_title }}</td>
                                 <td>{{ item.post_category }}</td>
                                 <td>{{ item.post_start_date | date:"d/m/Y" }}</td>
                                 <td>{{ item.post_end_date | date:"d/m/Y" }}</td>
                                 <td>
                                    {% if item.post_active == True %}
                                    <span class="badge bg-primary">Active</span>
                                    {% else %}
                                    <span class="badge bg-danger">Inactive</span>
                                    {% endif %}
                                    {% if item.post_end_date < today_date %} 
                                    <span class="badge bg-white text-danger">Expired</span>
                                    {% endif %}
                                 </td>
                                 <td>
                                    <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                                    <ul class="dropdown-menu dropdown-menu-arrow">
                                       <li><a class="dropdown-item" href="{% url 'post_read' item.id %}">Read Post</a></li>
                                       <li><a class="dropdown-item" href="{% url 'post_update' item.id %}">Update</a></li>
                                 
                                       <li><a class="dropdown-item" href="{% url 'post_delete' item.id %}">Delete</a></li>
                                    </ul>
                                 </td>
                              </tr>
                              {% endfor %}
                           </tbody>
                        </table>
                        {% endif %}


                        <!-- End Bordered Table -->

                     </div>
                  </div>
               </div>
               <!-- End Table 1 -->

            </div>
         </div><!-- End Left side columns -->

      </div>
   </section>








</main><!-- End #main -->


{% endif %}
{% endblock main-content %}