{% load static %}

{% if user.is_authenticated and user.is_superuser %}


<!-- Admin Dashboard -->

<aside id="sidebar" class="sidebar">

   <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item mt-4">
         <a class="nav-link " href="{% url 'admin_dash' %}">
            <i class="bi bi-grid"></i>
            <span>Admin Dashboard</span>
         </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-heading mt-4">Welfares</li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i>
            <span>Welfare Post</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            
            <li>
               <a href="{% url 'post_all' %}">
                  <i class="bi bi-circle"></i>
                  <span>All</span>
               </a>
            </li>
            <li>
               <a href="{% url 'post_active' %}">
                  <i class="bi bi-circle"></i>
                  <span>Active</span>
               </a>
            </li>
            <li>
               <a href="{% url 'post_outdated' %}">
                  <i class="bi bi-circle"></i>
                  <span>Outdated</span>
               </a>
            </li>
            <li>
               <a href="{% url 'post_create' %}">
                  <i class="bi bi-circle"></i>
                  <span>Create New</span>
               </a>
            </li>   
            

         </ul>
      </li><!-- End Components Nav -->

      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-journal-text"></i><span>Verify Applications</span><i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="forms-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            <li>
               <a href="{% url 'post_verify_all' %}">
                  <i class="bi bi-circle"></i>
                  <span>All</span>
               </a>
            </li>
            <li>
               <a href="{% url 'post_verify_pending' %}">
                  <i class="bi bi-circle"></i>
                  <span>Pending</span>
               </a>
            </li>
            
            <li>
               <a href="{% url 'post_verify_approved' %}">
                  <i class="bi bi-circle"></i>
                  <span>Approved</span>
               </a>
            </li>
         </ul>
      </li>

      <li class="nav-heading mt-4">User Side</li>

      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i>
            <span>User Profile</span><i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="forms-nav2" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            <li>
               <a href="{% url 'user_profile_All' %}">
                  <i class="bi bi-circle"></i>
                  <span>All</span>
               </a>
            </li>

            <li>
               <a href="{% url 'user_profile_verified' %}">
                  <i class="bi bi-circle"></i>
                  <span>Verified</span>
               </a>
            </li>
            <li>
               <a href="{% url 'user_profile_verify_pending' %}">
                  <i class="bi bi-circle"></i>
                  <span>Pending</span>
               </a>
            </li>

         </ul>
      </li>

      <li class="nav-heading mt-4">Others</li>

      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'issue' %}">
            <i class="bi bi-question-circle"></i>
            <span>Issues</span>
         </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'query' %}">
            <i class="bi bi-question-circle"></i>
            <span>Queries</span>
         </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'feedback' %}">
            <i class="bi bi-question-circle"></i>
            <span>Feedbacks</span>
         </a>
      </li><!-- End F.A.Q Page Nav -->

   </ul>

</aside>


{% endif %}

{% if user.is_authenticated and not user.is_superuser %}


<!-- User Dashboard -->


<aside id="sidebar" class="sidebar">

   <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item mt-4">
         <a class="nav-link " href="{% url 'user_dash'%}">
            <i class="bi bi-grid"></i>
            <span>User Dashboard</span>
         </a>
      </li><!-- End Dashboard Nav -->

      {% if user.profile_updated_flag %}

      <li class="nav-heading mt-4">Welfares</li>
      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
            <i class="bi bi-menu-button-wide"></i>
            <span>My Welfares</span>
            <i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="components-nav" class="nav-content collapse show" data-bs-parent="#sidebar-nav">
            <li>
               <a href="{% url 'mypost_all'%}">
                  <i class="bi bi-circle"></i>
                  <span>View All</span>
               </a>
            </li>
            <li>
               <a href="{% url 'mypost_this_month' %}">
                  <i class="bi bi-circle"></i>
                  <span>This Month</span>
               </a>
            </li>
            <li>
               <a href="{% url 'mypost_applied' %}">
                  <i class="bi bi-circle"></i>
                  <span>Applied</span>
               </a>
            </li>
            <li>
               <a href="{% url 'mypost_approved' %}">
                  <i class="bi bi-circle"></i>
                  <span>Approved</span>
               </a>
            </li>
            <li>
               <a href="{% url 'mypost_rejected' %}">
                  <i class="bi bi-circle"></i>
                  <span>Rejected</span>
               </a>
            </li>
            

         </ul>
      </li><!-- End Components Nav -->


      <li class="nav-heading mt-4">Profile</li>

      <li class="nav-item">
         <a class="nav-link collapsed" data-bs-target="#forms-nav2" data-bs-toggle="collapse" href="#">
            <i class="bi bi-person"></i>
            <span>My Profile</span><i class="bi bi-chevron-down ms-auto"></i>
         </a>
         <ul id="forms-nav2" class="nav-content collapse " data-bs-parent="#sidebar-nav">
            <li>
               <a href="{% url 'my_profile' %}">
                  <i class="bi bi-circle"></i>
                  <span>My Profile</span>
               </a>
            </li>
            <li>
               <a href="{% url 'my_profile_update' %}">
                  <i class="bi bi-circle"></i>
                  <span>Update Profile</span>
               </a>
            </li>
            <li>
               <a href="{% url 'my_documents' %}">
                  <i class="bi bi-circle"></i>
                  <span>My Documents</span>
               </a>
            </li>
         </ul>
      </li>

      <li class="nav-heading mt-4">Others</li>

      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'report_issue' %}">
            <i class="bi bi-question-circle"></i>
            <span>Report an Issue</span>
         </a>
      </li><!-- End F.A.Q Page Nav -->
      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'ask_query' %}">
            <i class="bi bi-question-circle"></i>
            <span>Ask a Query</span>
         </a>
      </li><!-- End F.A.Q Page Nav -->

      <li class="nav-item">
         <a class="nav-link collapsed" href="{% url 'add_feedback' %}">
            <i class="bi bi-envelope"></i>
            <span>Feedbacks</span>
         </a>
      </li><!-- End Contact Page Nav -->

      {% else %}
      <div class="alert text-center alert-warning alert-dismissible fade show" role="alert">
         <span class="small">Please complete the registration form. The menu will be available only after the
            registration process is completed.
            Thank you for your cooperation</span>
      </div>
      {% endif %}

   </ul>

</aside>


{% endif %}